<section class="flex h-screen">
  <aside class="w-72 shadow-md bg-white dark:bg-slate-900 flex flex-col">
    <div class="flex items-center gap-3 pt-4 px-4 pb-3">
      <span class="block size-7 p-1.5 bg-blue-500 text-white rounded-lg">
        <app-icon name="check"></app-icon>
      </span>
      <header class="font-semibold text-xl tracking-tight">TaskFlow</header>
    </div>
    <div class="py-3 px-2 flex flex-col gap-2 h-1 grow overflow-y-auto">
      @let first = date_menu();
      <app-navaside [data]="first"></app-navaside>
      @let second = categories_menu();
      <app-navaside [data]="second"></app-navaside>
      
      @let third = tags_menu();
      @if (third.items?.length) {
        <app-navaside [data]="third" type="tag"> </app-navaside>
      }
    </div>
  </aside>
  <main class="bg-zinc-200/50 dark:bg-slate-950 w-1 grow">
    <router-outlet class="none" />
  </main>
</section>
