<section class="flex h-screen">
  <aside class="w-72 shadow-md bg-white flex flex-col">
    <div class="flex items-center gap-3 pt-4 px-4 pb-3">
      <i class="size-7 p-1.5 bg-blue-500 text-white rounded-lg">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="stroke-3 lucide lucide-check-icon lucide-check"
        >
          <path d="M20 6 9 17l-5-5" />
        </svg>
      </i>
      <header class="font-semibold text-xl tracking-tight">TaskFlow</header>
    </div>
    <div class="py-3 px-2 flex flex-col gap-2 h-1 grow overflow-y-auto">
      <app-navaside [data]="main_menu"></app-navaside>
      @let second = categories_menu();
      @if (second.items?.length) {
        <app-navaside [data]="second"></app-navaside>
      }
      @let third = tags_menu();
      @if (third.items?.length) {
        <app-navaside [data]="third" type="tag">
        </app-navaside>
      }
    </div>
  </aside>
  <main class="bg-zinc-200/50 w-1 grow">
    <router-outlet class="none" />
  </main>
</section>
