<app-general-layout>
  @let first = date_menu();
  <app-navaside aside-content [data]="first"></app-navaside>

  @let second = categories_menu();
  <app-navaside aside-content [data]="second"></app-navaside>

  @let third = tags_menu();
  <app-navaside aside-content [data]="third" type="tag"> </app-navaside>

  <div aside-footer class="flex gap-4">
    <a
      class="w-full"
      [routerLink]="['create-task']"
      queryParamsHandling="merge"
      appButton
      
    >
      Crear tarea
    </a>
  </div>

  <router-outlet main-content></router-outlet>
</app-general-layout>
