@let $fields = fields();
<article
  [class]="[$fields.status.color.border, $fields.status.color.outline]"
  [routerLinkActive]="['outline-1']"
  class="shadow-md rounded-xl border-l-8"
>
  <div class="flex gap-4 bg-white dark:bg-slate-900 rounded-xl">
    <div class="self-center py-3 pl-4">
      <app-dropdown [options]="optionsService.statusOptions" (eventChange)="onChange($event)">
        <span class="size-7 block">
          @if ($fields.status.key === 'completada') {
            <app-icon name="circle-check" [class]="$fields.status.color.text"></app-icon>
          } @else if ($fields.status.key === 'en_curso') {
            <app-icon name="circle-fading-arrow-up" [class]="$fields.status.color.text"></app-icon>
          } @else {
            <app-icon name="circle" [class]="$fields.status.color.text"></app-icon>
          }
        </span>
      </app-dropdown>
    </div>
    <a
      [routerLink]="['task', $fields.id]"
      queryParamsHandling="preserve"
      class="flex flex-col gap-3 w-1 grow min-w-xs py-3 pr-4"
    >
      <div class="flex gap-2 items-start">
        <h2 class="w-1 grow overflow-hidden whitespace-nowrap text-ellipsis text-xl font-medium">
          {{ $fields.title }}
        </h2>
        <div
          [class]="
            $fields.dueDate.color
              ? `${$fields.dueDate.color.text} font-semibold`
              : 'opacity-75 font-medium'
          "
          class="text-xs uppercase tracking-widest"
        >
          {{ $fields.dueDate.label }}
        </div>
      </div>
      <div class="flex gap-4 items-end justify-between">
        <div class="items-center text-sm flex flex-wrap gap-6">
          <div class="w-16">
            <app-badge [color]="$fields.priority.color"> {{ $fields.priority.label }} </app-badge>
          </div>
          <app-icon-text [color]="$fields.categoria.color">
            <span class="opacity-85">
              {{ $fields.categoria.name }}
            </span>
          </app-icon-text>
        </div>
        <div class="flex flex-wrap gap-3 justify-end">
          @for (tag of $fields.tags; track tag.id) {
            <app-tag [color]="tag.color"> {{ tag.name }} </app-tag>
          }
        </div>
      </div>
    </a>
  </div>
</article>
