<div (focusout)="onClose($event)" tabindex="-1">
  <button #trigger (click)="onToggle()" class="cursor-pointer">
    <ng-content></ng-content>
  </button>
  @if (open()) {
    <app-dropdown-list [referenceEl]="triggerRef.nativeElement">
      @for (item of options(); track `dropdown-item${item.value}-${$index}`) {
        <li>
          <button class="w-full px-4 py-2 cursor-pointer hover:bg-black/25" (click)="onChange(item.value)">
            {{ item.label }}
          </button>
        </li>
      }
    </app-dropdown-list>
  }
</div>
